<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
  font-family:'Lato', sans-serif;
}
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }
  .login{
  box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}
  </style>
<div class="login">
    <h1>Login</h1>
      <div>
        <p for="name">Name</p>
        <input
          id="name"
        />
      </div>
      <div>
        <p for="password">Password</p>
        <input type="password" id="password" />
      </div>
      <button id="track">Login</button>
  </div>
<script>
     document.getElementById("track").addEventListener("click",()=>{
        if (document.getElementById("name").value===""){
            alert("Please fill all the required fields")
        }
        if (document.getElementById("password").value===""){
            alert("Please fill all the required fields")
        }else{
            window.location.replace(`http://127.0.0.1:5000/login?id=${document.getElementById("name").value}&password=${document.getElementById("password").value}`)
        }
        
     })
</script>