<style>
    @import url("https://fonts.googleapis.com/css?family=Poppins");
*{
  font-family: 'Poppins';font-size: 22px;
}
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  </style>
<div class="login">
    <h1>Login</h1>
      <div>
        <label for="name">Name</label>
        <input
          id="name"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" />
      </div>
      <button id="track">Login</button>
  </div>
<script>
     document.getElementById("track").addEventListener("click",()=>{
        if (document.getElementById("name").value===""){
            alert("Please fill all the required fields")
        }
        if (document.getElementById("password").value===""){
            alert("Please fill all the required fields")
        }else{
            window.location.replace(`http://127.0.0.1:5000/login?id=${document.getElementById("name").value}&password=${document.getElementById("password").value}`)
        }
        
     })
</script>