<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <link href="/singlepost.css" rel="stylesheet" type="text/css" />
    <link href="/forum.css" rel="stylesheet" type="text/css" />
    <link href="/profile.css" rel="stylesheet" type="text/css" />
    <link href="/accessdenied.css" rel="stylesheet" type="text/css" />
    <script
      src="https://kit.fontawesome.com/0b06e88fcc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Sacramento&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.5.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      #map {
        position: absolute;
        top: 20vh;
        height: 85vh;
        width: 100%;
      }
      .marker {
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .mapboxgl-popup {
        max-width: 200px;
      }
      .mapboxgl-popup-content {
        text-align: center;
        font-family: "Open Sans", sans-serif;
      }
      .m {
        background-image: url("https://thumbs.dreamstime.com/b/fish-logo-design-animal-pisces-creative-sample-shrimp-marine-life-122532549.jpg");
      }
      .os {
        background-image: url("https://image.shutterstock.com/image-vector/spill-oil-icon-vector-template-260nw-1200669403.jpg");
      }
      .pl {
        background-image: url("https://previews.123rf.com/images/breathofriver/breathofriver1908/breathofriver190800011/128817527-thin-line-recycle-plastic-bottle-icon-outline-reuse-symbol-linear-recycling-plastic-waste-logo-edita.jpg");
      }
    </style>
    <title>Mentorious</title>
  </head>
  <body>
    <div class="container">
      <div class="w3-top">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <style>
          .w3-wide {letter-spacing: 10px;}
          .w3-hover-opacity {cursor: pointer;}
        </style>
        <div class="w3-bar" id="myNavbar">
          <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
            <i class="fa fa-bars"></i>
          </a>
          <a href="/blogs" class="w3-bar-item w3-button" onclick="toggleFunction()"><p>BLOGS</p></a>
          <a href="/panel" class="w3-bar-item w3-button" onclick="toggleFunction()"><p>UPLOAD</p></a>
          <a href="/oilspill" class="w3-bar-item w3-button" onclick="toggleFunction()"><p>OIL SPILLS</p></a>
          <a href="/plastic" class="w3-bar-item w3-button" onclick="toggleFunction()"><p>PLASTIC POLLUTION</p></a>
          <a href="/marine_life" class="w3-bar-item w3-button" onclick="toggleFunction()"><p>MARINE LIFE</p></a>
          <a href="/logout" class="w3-bar-item w3-button" onclick="toggleFunction()"><p>LOGOUT</p></a>
        </div>
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
          <a href="/blogs" class="w3-bar-item w3-button" onclick="toggleFunction()">BLOGS</a>
          <a href="/logout" class="w3-bar-item w3-button" onclick="toggleFunction()">LOGOUT</a>
        </div>
      </div>
      <p style="height:40px;"></p>
      <h1 class="about-title" style="text-align:center;">Plastic Waste in Oceans</h1>
      <div id="map"></div>

      <script>
        mapboxgl.accessToken =
          "pk.eyJ1IjoiYWFhaGFuYW1laHJvdHJhIiwiYSI6ImNrdXhxcmJ2NjJoa2IydXF2d3FkcDN0ZGEifQ.998EzKxZ2f0jJH7j45rkbg";

        const geojson = {
          type: "FeatureCollection",
          features: [
            {
              type: "Feature",
              geometry: {
                type: "Point",
                coordinates: [151.171875, 43.58039085560784],
              },
              properties: {
                title: "Plastic Pollution",
                description: "Pieces: 2 trillion \n Pounds: 192.8 million",
              },
            },
            {
              type: "Feature",
              geometry: {
                type: "Point",
                coordinates: [52.734375, -7.01366792756663],
              },
              properties: {
                title: "Plastic Pollution",
                description: "pieces: 1.3 trillion \n Pound: 188.3",
              },
            },
            {
              type: "Feature",
              geometry: {
                type: "Point",
                coordinates: [-10.546875, 38.54816542304656],
              },
              properties: {
                title: "Plastic Pollution",
                description:
                  "Plastic can stick around indefinitely, wreaking havoc on marine ecosystems",
              },
            },
            {
              type: "Feature",
              geometry: {
                type: "Point",
                coordinates: [54.140625, -19.31114335506464],
              },
              properties: {
                title: "Plastic Pollution",
                description:
                  "Much of the plastic in the ocean is in the form of abandoned fishing nets.",
              },
            },
            {
              type: "Feature",
              geometry: {
                type: "Point",
                coordinates: [203.90625, -21.943045533438166],
              },
              properties: {
                title: "Plastic Pollution",
                description:
                  "Unlike some other kinds of waste, plastic doesn't decompose.",
              },
            },
            {
              type: "Feature",
              geometry: {
                type: "Point",
                coordinates: [-80.15625, -33.7243396617476],
              },
              properties: {
                title: "Plastic Pollution",
                description:
                  "As the plastic is tossed around, much of it breaks into tiny pieces, called microplastics. ",
              },
            },
            {
              type: "Feature",
              geometry: {
                type: "Point",
                coordinates: [-75.9375, 28.92163128242129],
              },
              properties: {
                title: "Plastic Pollution",
                description:
                  "As the plastic is tossed around, much of it breaks into tiny pieces, called microplastics. ",
              },
            },
          ],
        };

        const map = new mapboxgl.Map({
          container: "map",
          style: "mapbox://styles/mapbox/dark-v10",
          center: [0, 0],
          zoom: 1,
        });

        // add markers to map
        for (const feature of geojson.features) {
          // create a HTML element for each feature
          const el = document.createElement("div");
          el.className = "marker pl";

          // make a marker for each feature and add it to the map
          new mapboxgl.Marker(el)
            .setLngLat(feature.geometry.coordinates)
            .setPopup(
              new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML(
                  `<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`
                )
            )
            .addTo(map);
        }
      </script>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
