
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reg.css" />
    <link rel="stylesheet" href="global.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="login">
      <h1>Register</h1>
        <div>
          <label for="name">Name</label>
          <input
            id="name"
          />
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" />
        </div>
        <div>
          <p>Subjects</p>
          <div class="sub">
            <input type="checkbox" id="eco" />
            <label for="Economics">Economics</label>
          </div>
          <div class="sub">
            <input type="checkbox" id="eng" />
            <label for="English">English</label>
          </div>
          <div class="sub">
            <input type="checkbox" id="teacher" />
            <label for="teah">Teacher</label>
          </div>
        </div>
        <button id="track">Register</button>
    </div>
  </body>
  <script>
    document.getElementById("track").addEventListener("click",()=>{
        var teacher=document.getElementById('teacher').checked
        var subjects=[]
        if (document.getElementById("eng").checked){
            subjects.push("eng")
        }
        if (document.getElementById("eco").checked){
            subjects.push("eco")
        }
        var pwd=document.getElementById("password").value
        var name = document.getElementById("name").value
        function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
    xmlHttp.send( null );
    return xmlHttp.responseText;
}
httpGet(`http://127.0.0.1:5000/register?id=${name}&password=${pwd}&subjects=${subjects}&teacher=${teacher}`)
window.location.href = "http://127.0.0.1:5000/";
    })
  </script>
</html>
